$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #f9f9f9;
$color__background-button: transparent;
$color__background-pre: #f7e6e6;
$color__background-ins: #f3f4f0;
$color__background-meta: #f3f4f0;

$color__text-screen: #404040;
$color__text-input: #727272;
$color__text-input-focus: #111;
$color__link: #404040;
$color__link-visited: #404040;
$color__link-hover: #14f1e4;
$color__text-main: #727272;

$color__border-button: #14f1e4;
$color__border-button-hover: #fff;
$color__border-button-focus: #aaa;
$color__border-input: #f6f6f6;
$color__border-abbr: #666;

$color__text-widgettitle: #fff;
$color__text-menu: #152639;