/**
 * Products
 */


ul.products {
	@include clearfix;
	margin: 0;
	padding: 0;

	li.product {
		list-style: none;
		position: relative;
		margin-bottom: 2em;

		.woocommerce-loop-product__title {
			font-size: 1rem;
		}

		img {
			display: block;
		}

		.button {
			display: block;
		}
	}
}

@media screen and (min-width: 48em) {
	ul.products {
		li.product {
			@include column-width(3);
			float: left;
			margin-right: $columns__margin;

			&.first {
				clear: both;
			}

			&.last {
				margin-right: 0;
			}
		}
	}

	.columns-1 {
		ul.products {
			li.product {
				float: none;
				width: 100%;
			}
		}
	}

	@for $i from 2 through 6 {
		.columns-#{$i} {
			ul.products {
				li.product {
					@include column-width( $i );
				}
			}
		}
	}
}
    
.product {
    .woocommerce-LoopProduct-link {
        img {
            width: 270px;
            height: 360px;
            border: 1px solid #e8e8e8;
        }
    }
}

.archive {
    .site-content{
        margin-top: 100px;
       #primary {
            float: left;
            width: 75%;
            @media ( min-width: 992px ) {
                margin-right: 30px;
            }
        }

        #secondary {
            float: left;
            width: calc( 25% - 30px );
        }
    }
}

span.onsale {
    position: absolute;
    left: 15px;
    top: 15px;
    width: 40px;
    text-align: center;
    background-color: #e46868;
}

.woocommerce-loop-product__title {
    text-transform: uppercase;
    text-align: center;
}