.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets. */
	select {
		
	}
}

.widget-recent-post-thumbnail {
    .recent-post-thumbnail-item {
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-bottom: 20px;
        .recent-post-img {
            max-width: 70px;
            width: 50%;
            img {
                border-radius: 5px;
            }
        }
        .recent-post-content {
            padding-left: 10px;
        }
    }
}


// Search form.
.search-form,
.woocommerce-product-search {
    position: relative; 
    &:after{
        content: "\f002";
        position: absolute;
        font-family: 'FontAwesome';
        right: 0;
        top: 0;
        width: 40px;
        height: 40px;
        @include flex-center;
    }

    input,
    .form-comment label textarea,
    .form-comment label .search-form textarea {
        padding-left: 20px;
        width: 100%;
        height: 40px;
        background-color: $color__border-input;
    }
    .search-submit,
    button {
        position: absolute;
        width: 40px;
        height: 40px;
        top: 0;
        right: 0;
        font-size: 0 !important;
        border: none !important;
        z-index: 5;
        background: transparent !important;
    }
}
    


.widget_archive,
.widget_categories,
.widget_product_categories,
.widget_pages,
.widget_meta,
.widget_nav_menu {
    li{
        list-style-type: disc;
        list-style-position: inside;
        +li{
            border-top: 1px dotted #e2e2e2;
        }
        a {
            text-transform: capitalize;
            margin-right: 20px;
            font-weight: 700;
            padding: 10px 0;
            display: inline-block;
        }
    }
    .children{
        li{
            border-top: 1px dotted #e2e2e2;
        }
    }
}

/* Widget */

#sidebar {
    margin-top: 50px;
    float: right;
    .widget {
        margin-bottom: 45px;
    }
}

.widget-title {
    font-family: $font__tittle;
    font-size: 24px;
    color: $color__text-screen;
    position: relative;
    &:after {
        content: '';
        height: 3px;
        width: 60px;
        position: absolute;
        background-color: #14f1e4;
        bottom: -10px;
        left: 0;
        right: 0;
    }
}

.tagcloud {
    a {
        padding: 5px;
        border: 1px solid $color__border-button;
        text-align: center;
        padding: 3px 23px;
        display: inline-block;
        margin: 5px 5px;
        &:hover {
            border: 1px solid $color__link-hover;
        }
    }
}

/* Contact Form 7 for Subscribe Widget */
.wpcf7-form {
    p {
        label br{
            display: none;
        }
    }
    .wpcf7-form-control-wrap {
        input {
            padding-left: 20px;
            width: 100%;
            height: 40px;
            background-color: $color__border-input;
        }
    }
    .button-submit {
        width: 100%;
        height: 40px;
        text-transform: uppercase;
    }
}

.widgettitle,
.title-widget {
    color: $color__text-widgettitle;
}

//
.widget_recent_reviews {
    img {
        width: 33%;
    }
}